<html>
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="window.css">
</head>
<body>
<form id="app2" @submit="checkForm" action="https://vuejs.org/" method="post">

    <p>
        <div class="text_email">Э/почта</div>
        <input type="text" name="mail" id="mail" v-model="mail">
    </p>

    <p>
        <div class="text_password">Пароль</div>
        <input type="password" name="password" id="password" v-model="password" min="0">
    </p>

    <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>

    <p>
        <input type="submit" value="Submit">
    </p>
    <a href="">
        <div class="resetting">Сброс пароля</div>
    </a>
</form>
<script src="window_valid.js"></script>
</body>
</html>